//ホーム画面

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>知り合いコレクション</h1>
    <a href="/siriai/new">知り合いを登録する</a>
    <a href="/siriai/itiran">知り合いを見る</a>
  </body>
</html>

