<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <% if (user) { %>
      <p>ようこそ、<%= user.username %>さん！</p>
      <ul>
        <li><a href="/siriai/new">知り合いを登録する</a></li>
        <li><a href="/siriai/itiran">知り合いを見る</a></li>
        <li><a href="/logout">ログアウト</a></li>
      </ul>

    <% } else { %>
      <p>機能を利用するにはログインが必要です。</p>
      <ul>
        <li><a href="/login">ログインする</a></li>
        <li><a href="/register">新しくユーザー登録する</a></li>
      </ul>
    <% } %>

  </body>
</html>