<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="index-page">
  <div class="index-card">
    <h1><%= title %></h1>
    <p class="subtitle">あなたの知り合いをコレクションしよう</p>

    <% if (user) { %>
      <div class="welcome-msg">ようこそ、<%= user.username %>さん！</div>
      <ul class="menu-list">
        <li><a href="/siriai/new">知り合いを登録する</a></li>
        <li><a href="/siriai/itiran">知り合いを見る</a></li>
        <li class="logout-link"><a href="/logout">ログアウト</a></li>
      </ul>
    <% } else { %>
      <p class="no-login-msg">機能を利用するにはログインが必要です。</p>
      <ul class="menu-list">
        <li><a href="/login">ログインする</a></li>
        <li><a href="/register">新しくユーザー登録する</a></li>
      </ul>
    <% } %>
  </div>
</body>
</html>
