<!DOCTYPE html>
<html>
  <head>
    <title>新規登録 - 知り合いコレクション</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>新規ユーザー登録</h1>
    
    <form action="/register" method="POST">
      <div>
        <label for="username">ユーザー名:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div>
        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div>
        <button type="submit">登録する</button>
      </div>
    </form>

    <a href="/">トップページに戻る</a>
  </body>
</html>