//登録ページ（名前・趣味・性格）

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>
        <a href="../index">戻る</a>
    </p>
    <form >
        <!-- valueは最初に書かれてる文字 "の中に変数" -->
        <h3>名前:</h3>
        <h3>趣味:</h3>
        <h3>性格:</h3>
        <button>追加</button>
    </form>

    <a href="/siriai/new/mii">Mii作成する</a>
</body>
</html>
