<!-- パーツの箱 -->
    <div class="partsBox">
        <div id="partsHair">
            <!-- 髪型１ -->
            <input id=hair1 type="radio" name="hair" value="1" checked>
            <label for="hair1"><img class="partsImg" src="/img/hair1.png" alt=""></label>

            <!-- 髪型２ -->
            <input id=hair2 type="radio" name="hair" value="2">
            <label for="hair2"><img class="partsImg" src="/img/hair2.png" alt=""></label>

            <!-- 髪型３ -->
            <input id=hair3 type="radio" name="hair" value="3">
            <label for="hair3"><img class="partsImg" src="/img/hair3.png" alt=""></label>

            <!-- 髪型４ -->
            <input id=hair4 type="radio" name="hair" value="4">
            <label for="hair4"><img class="partsImg" src="/img/hair4.png" alt=""></label>

            <!-- 髪型５ -->
            <input id=hair5 type="radio" name="hair" value="5">
            <label for="hair5"><img class="partsImg" src="/img/hair5.png" alt=""></label>
        </div>

        <div id="partsEyes" style="display:none">

            <!-- 目１ -->
            <input id=eyes1 type="radio" name="eyes" value="1" checked>
            <label for="eyes1"><img class="partsImg" src="/img/eyes1.png" alt=""></label>

            <!-- 目２ -->
            <input id=eyes2 type="radio" name="eyes" value="2">
            <label for="eyes2"><img class="partsImg" src="/img/eyes2.png" alt=""></label>

            <!-- 目３ -->
            <input id=eyes3 type="radio" name="eyes" value="3">
            <label for="eyes3"><img class="partsImg" src="/img/eyes3.png" alt=""></label>

            <!-- 目４ -->
            <input id=eyes4 type="radio" name="eyes" value="4">
            <label for="eyes4"><img class="partsImg" src="/img/eyes4.png" alt=""></label>

            <!-- 目５ -->
            <input id=eyes5 type="radio" name="eyes" value="5">
            <label for="eyes5"><img class="partsImg" src="/img/eyes5.png" alt=""></label>
        </div>

        <div id="partsMouth" style="display:none">

            <!-- 口１ -->
            <input id=mouth1 type="radio" name="mouth" value="1" checked>
            <label for="mouth1"><img class="partsImg" src="/img/mouth1.png" alt=""></label>

            <!-- 口２ -->
            <input id=mouth2 type="radio" name="mouth" value="2">
            <label for="mouth2"><img class="partsImg" src="/img/mouth2.png" alt=""></label>

            <!-- 口３ -->
            <input id=mouth3 type="radio" name="mouth" value="3">
            <label for="mouth3"><img class="partsImg" src="/img/mouth3.png" alt=""></label>

            <!-- 口４ -->
            <input id=mouth4 type="radio" name="mouth" value="4">
            <label for="mouth4"><img class="partsImg" src="/img/mouth4.png" alt=""></label>

            <!-- 口５ -->
            <input id=mouth5 type="radio" name="mouth" value="5">
            <label for="mouth5"><img class="partsImg" src="/img/mouth5.png" alt=""></label>
        </div>
    </div>